.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #b2d4d4;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-top: 3rem;
}

 button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.list-item-sec-cont{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #c2e7f0;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 6px;

}

.list-item-date{
    color: #566d6d;
}

.no-data{
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  font-weight: 700;
}
